#titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    background-color: lightgray;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 5px;
    box-sizing: content-box;
}

#info {
    text-align: center;
    font-size: 14px;
    font-variant: small-caps;
}

.data {
    color: darkblue;
    font-weight: bolder;
}

.subtitulos {
    background-color: lightgray;
    width: fit-content;
    text-indent: 30px;
    border-top: 3px solid black;
    padding: 5px 10px;
}

.link {
    text-decoration: none;
    font-weight: bold;
}

ol li {
    list-style-type: upper-roman;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkmagenta;
}

a:hover {
    background-color: lightgray;
}

a:active {
    background-color: lightsalmon;
}